h1{
    font-size:80px;
    color:blueviolet;
    font-family:"Courier New",Courier,monospace;
}
#orangeparagrapgh{
    font-size:40px;
    color:orange;
    font-family:verdana,Geneva,Tahoma,sans-serif;
}